<h1> Dish </h1>


<p> <strong> Dish Name :</strong> <%= @dish.name %> </p>
<p> <strong> Dish Price :</strong> <%= @dish.price %> </p>
<p> <strong> Restaurant Id :</strong> <%= @dish.restaurant_id %> </p>

<%= link_to "Back to All Dishes" , dishes_path %>

 



